<div class="container">
    <h1 class="login-title">Bienvenido!!!!</h1>
    <div class="example-container form-fields">
        <p>Este es un sistema de ventas, donde podras llevar un control de tus productos y ventas</p>
        <p>Para poder acceder a la aplicación, es necesario que te registres o inicies sesión</p>
    </div>
    <div class="example-container form-fields button-container">
        <button mat-raised-button [routerLink]="['/login']" class="button-login">Iniciar Sesión</button>
        <button mat-raised-button [routerLink]="['/register']" class="button-login">Registrarse</button>
    </div>
