<div class="container">
    <form [formGroup]="registerform">
        <h1 class="login-title">Register</h1>
            <div class="example-container form-fields">
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su nombre</mat-label>
                    <input matInput placeholder="Jose Israel Perez Vazquez" formControlName="name">
                    <div *ngIf="registerform.controls['name'].errors">
                        <mat-error *ngIf="registerform.controls['name'].errors['required']">El nombre es requerido</mat-error>
                        <mat-error *ngIf="registerform.controls['name'].errors['minlength']">El minimo de caracteres es 2</mat-error>
                        <mat-error *ngIf="registerform.controls['name'].errors['maxlength']">El maximo de caracteres es 50</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su correo</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email">
                    <div *ngIf="registerform.controls['email'].errors">
                        <mat-error *ngIf="registerform.controls['email'].errors['required']">El email es requerido</mat-error>
                        <mat-error *ngIf="registerform.controls['email'].errors['email']">El email no es válido</mat-error>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Ingrese su contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div *ngIf="registerform.controls['password'].errors">
                    <mat-error *ngIf="registerform.controls['password'].errors['required']">La contraseña es requerida</mat-error>
                </div>
                  <button  mat-raised-button  (click)="register()" class="button-login">Crear Cuenta</button>
            </div>
    </form>
    <div class="login-container">
        <p class="login-text">¿Ya tienes cuenta? <a [routerLink]="['/login']" class="button-login">Inicia sesión</a></p>
    </div>
</div>